.calculator {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 1em;
    padding: 40px;px;
    width: 425px;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    width: 100%;
    height: 100px;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(230, 230, 230);
    padding: 10px;

}   

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(230, 230, 230);
    margin-top: 50px;
    padding: 10px;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 100%;
    width: 15%;
    height: 15%;
    padding: 2em;
    margin: .7em;
    flex: 1;

}

.numRows{
    display: flex;
    flex-direction: row;
}

.opRows{
    display: flex;
    flex-direction: row;
}
.equal{
    display: flex;
}
.equalButton{
    height: 165px;
    border-radius: 10px;
    background-color: rgb(255, 213, 0)



}

.opButtons {
    background-color: rgb(255, 213, 0)
}

.clear{
    height: 165px;
    border-radius: 10px;
    background-color: rgb(251, 65, 14);
}
h2{
    font-size: 52px;
}

.screen {
    display: flex;
    justify-content: flex-end;
}